.navbar {
    background-color: teal;
    color: #eee;
  }
  
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
  }
  
  .navlist {
    list-style: none;
    display: flex;
    gap: 10px;
    padding: 10px;
  }

  .navlink {
    color: #eee;
    text-decoration: none;
  }
  