.footer-search {
    margin-bottom: 20px;
  }
  
  .footer {
    border: 3px solid gray;
    padding: 20px;
  }
  
  .footer-list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    gap: 20px;
    width: 30%;
    margin: 0 auto;
    list-style: none;
  }
  
  .footer-list ul li {
    flex-basis: 40%;
    padding: 10px;
  }
  
  .footer-list a {
    color: white;
  }
  